body {
  background-color: #F8F8F8;
}

.tab-widget {
  width: 1024px;
}

.tab-widget__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.tab-widget__item {
    display: inline;
    margin-right: 5px;
}

.tab-widget__link {
    background-color: #264e5a;
    border-radius: 5px 5px 0 0;
    color: White;
    font-weight: bold;
    line-height: 2.1;
    padding: .5em 1.5em;
    text-decoration: none;
}

.tab-widget__link:focus,
.tab-widget__link:hover {
    color: White;
    color: #59818D;

}

.tab-widget__link--active {
    background-color: #59818D;
    background-color: white;
    color: #59818D;
}

.tab-widget__tabs {
    background-color: #ffffff;
    border: solid WhiteSmoke 1px;
    border-radius: 0 2px 2px 2px;
    padding: 1em;
    max-width: 1424px;
}

.tab-widget__tab-content {
    display: none;
}

.tab-widget__tab-content--active,
.no-js .tab-widget__tab-content {
    display: block;
}
